<div class="row">
  <div class="col-md-4">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}" target="_blank">Pre-workshop survey / Registration</a></td>
      </tr>
      <tr>
        <td>Morning</td>
        <td> <a href="https://datacarpentry.org/astronomy-python/01-query/">Basic Queries</a></td>
      </tr>
      <tr>
        <td> </td>
        <td><a href="https://datacarpentry.org/astronomy-python/02-coords/">Coordinate Transformations</a></td>
      </tr>
      <tr>
        <td>Afternoon</td>
        <td> <a href="https://datacarpentry.org/astronomy-python/03-transform/">Plotting and Tabular Data</a></td>
      </tr>
      <tr>
        <td> </td>
        <td> <a href="https://datacarpentry.org/astronomy-python/04-motion/">Plotting and Pandas</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>Morning</td>
        <td><a href="https://datacarpentry.org/astronomy-python/05-select/">Transform and Select</a></td>
      </tr>
      <tr>
        <td> </td>
        <td> <a href="https://datacarpentry.org/astronomy-python/06-join/">Join</a></td>
      </tr>
      <tr>
        <td>Afternoon</td>
        <td><a href="https://datacarpentry.org/astronomy-python/07-photo/">Photometry</a></td>
      </tr>
      <tr>
        <td> </td>
        <td><a href="https://datacarpentry.org/astronomy-python/08-plot/">Visualization</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>
        <td>Morning</td>
        <td><a href="https://datacarpentry.org/astronomy-python/05-select/">Transform and Select</a></td>
      </tr>
      <tr>
        <td> </td>
        <td> <a href="https://datacarpentry.org/astronomy-python/06-join/">Join</a></td>
      </tr>
      <tr>
        <td>Afternoon</td>
        <td><a href="https://datacarpentry.org/astronomy-python/07-photo/">Photometry</a></td>
      </tr>
      <tr>
        <td> </td>
        <td><a href="https://datacarpentry.org/astronomy-python/08-plot/">Visualization</a></td>
      </tr>
      <tr>
        <td>End of Workshop</td>
        <td><a href="{{ site.post_survey }}">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>